@import url('https://fonts.googleapis.com/css?family=Source+Serif+Pro');
body {
  font-family: 'Source Serif Pro', serif;
  background-color: black;
  color: #ffff00;
}
a {
  color: #00ffff;
}
a:hover {
  color: #ff00ff;
}
p {
  margin: 0;
  padding: 0;
  text-indent: 14pt;
  text-align: justify;
}
h1, h2, h3, h4, h5, h6 {
  text-align: center;
}
h1 {
  font-size: 48pt;
}
.article {
  margin: 1in;
  clear: both;
}

.article h1 {
  font-size: 36pt;
}
.article h2 {
  font-size: 24pt;
}
.contents h1 {
  font-size: 24pt;
}
.contents h2 {
  font-size: 20pt;
}
.contents h3 {
  font-size: 16pt;
}
.contents {
  font-size: 12pt;
}
img {
  max-height: 100%;
  max-width: 100%;
}
.img {
  margin: 0.25in;
  margin-top: 0;
  width: 25%;
  text-align: center;
  float: right;
}
