{% extends "base.html" %}
{% block body %}
  <div class="article">
    <h1><a href="/article/{{article.metadata.slug}}">{{article.metadata.title}}</a></h1>
    <h2>{{article.metadata.author}} &mdash; <span class="date">{{article.metadata.posted.to_rfc2822()}}</span></h2>
    <div class="contents">
      {{article.contents|safe}}
  </div>
{% endblock %}
