<!doctype html>
<html lang="en">
  <head>
    <meta name="google-site-verification" content="77Soa5rBWY-gadegwdtHSliW8v1sdXEr1DBGLglIAwM" />
    <meta charset="UTF-8">
    {% block css %}
      <link media="screen and (min-width: 800px)" rel="stylesheet" href="/static/css/style.css"> 
    {% endblock %}
    <title>{% block title %}George's Blog{% endblock %}</title>
  </head>
  <body>
    <h1><a href="/">George's Blog</a> <a href="/all">All Articles</a></h1>
    {% block body %}
    {% endblock %}
    {% block js %}
      <script src="/static/js/dist/main.js"></script>
    {% endblock %}
  </body>
</html>
