{% extends "base.html" %}
{% block body %}
  <h2><a href="/page/{{pre}}">&lt;-</a> <a href="/page/{{nxt}}">-&gt;</a></h2>
  {% for article in articles %}
    <div class="article">
      <h1><a href="/article/{{article.metadata.slug}}">{{ article.metadata.title }}</a></h1>
      <h2>{{article.metadata.author}} &mdash; <span class="date">{{article.metadata.posted.to_rfc2822()}}</span></h2>
      <div class="contents">
        {{article.contents|safe}}
      </div>
    </div>
  {% endfor %}
{% endblock %}
